{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to CRUD project</h1>

    The scope of this site is to create a CRUD application that will:
    <ul>
        <li><b style="color: darkred"><font size="5">C</font></b>REATE a post</li>
        <li><b style="color: darkred"><font size="5">R</font></b>EAD a post</li>
        <li><b style="color: darkred"><font size="5">U</font></b>PDATE a post</li>
        <li><b style="color: darkred"><font size="5">D</font></b>ELETE a post</li>
    </ul>
</div>
{% endblock %}
